<h2>Signup</h2>
<form action="/user/new" method="post">
    <input type="text" name="user[name]" placeholder="Name">
    <input type="password" name="user[password]" placeholder="Password">
    <input type='submit' value="signup">
</form>
