<div class="row">
  <div class="col-md-12">
    <h2>Annonymous Blog - Home</h2>
    <h4>Testing ImportExport Module via Helpers</h4>
  </div>
</div>


<div class="row text-center">
  <h3>Tag</h3>
  <div class="col-md-6">
    <button class="btn btn-default"><a href="/tag_to_csv">tag_to_csv <span class="glyphicon glyphicon-download-alt"></span></a></button>
    <button class="btn btn-default"><a href="/tag_to_csv_and_download">tag_to_csv_and_download <span class="glyphicon glyphicon-download-alt"></span></a></button>
  </div>
</div>

<div class="row text-center">
  <h3>Tag</h3>
  <div class="col-md-6">
    <button class="btn btn-default"><a href="/entry_to_csv">entry_to_csv <span class="glyphicon glyphicon-download-alt"></span></a></button>
    <button class="btn btn-default"><a href="/entry_to_csv_and_download">entry_to_csv_and_download <span class="glyphicon glyphicon-download-alt"></span></a></button>
  </div>
</div>
