<!-- #======== Google API Starts ========== -->
<%= render partial: 'google_api', locals: {  } %>
<!-- #======== Google API Ends ========== -->


<h1 class="text-center">Sage Data Force</h1>

<h3>Power Buttons</h3>
<%#= link_to "Geo Update Migrate", geo_update_migrate_btn_path, class: 'btn btn-warning' %>
<%#= link_to "Core Power", core_power_btn_path, class: 'btn btn-warning' %>
<%#= link_to "Staffer Core Updater", staffer_sfdc_id_cleaner_btn_path, class: 'btn btn-warning' %>
<%#= link_to "Column Splitters", col_splitter_btn_path, class: 'btn btn-warning' %>
<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>
<%#= link_to "Auto Match", auto_match_btn_path, class: 'btn btn-warning' %>
<%#= link_to "Geo Starter", geo_starter_btn_path, class: 'btn btn-warning' %>
