<div class="container" style="padding: 20px;">
<% if current_user %>
  <h1>You're logged in! <%= current_user.username %></h1>
<% else %>
  <form action="/register" method="post">
    <input type="text" name="user[username]" placeholder="username">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="register">
  </form>
<% end %>
</div>