<!-- # _delete.rb partial -->

<form action="/users/<%= user.id %>" method="post">
  <input name="_method" type="hidden" value="delete" />
  <button class="btn btn-danger" name="commit" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
</form>
