<div class="">

  <div class="erb_header">
    <h2>Blind Auction</h2>
    <h4>Register</h4>
  </div>

  <form class="form-horizontal" action="/users" method="post">
    <%#= erb :'contacts/_form_fields', layout: false %>
    <%#= erb :'contacts/_form_fields'%>

    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">username</label>
      <div class="col-sm-10">
        <input class="form-control" id="username" name="user[username]" type="text" value="<%= @user.username %>" placeholder="username" />
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">password</label>
      <div class="col-sm-10">
        <input class="form-control" id="password" name="user[password]" type="password" value="<%= @user.password %>" placeholder="password" />
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">email</label>
      <div class="col-sm-10">
        <input class="form-control" id="email" name="user[email]" type="email" value="<%= @user.email %>" placeholder="email" />
      </div>
    </div>

    <button class="btn btn-success" name="commit" type="submit">Register</button>
    <button class="btn btn-danger" name="commit" type="reset">Reset</button>

  </form>

</div>
