<div class="row">
  <div class="col-md-12">
    <h2>Annonymous Blog - Home</h2>
    <h4>Testing ImportExport Module via Helpers</h4>
  </div>
</div>


<div id="admin-starter" class="scr-prof-net scr-prof">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>DB Table</th>
        <th><i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload CSV</th>
        <th><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Backup CSV</th>
        <th><i class="glyphicon glyphicon-download" aria-hidden="true"></i> Download CSV</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Entries</th>
        <td>
          <a class="btn btn-success btn-xs" href="/upload_csv/entry"><i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/backup_csv/entry"><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Backup CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/download_csv/entry"><i class="glyphicon glyphicon-download" aria-hidden="true"></i> Download CSV</a>
        </td>
      </tr>

      <tr>
        <th>Tags</th>
        <td>
          <a class="btn btn-success btn-xs" href="/upload_csv/tag"><i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/backup_csv/tag"><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Backup CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/download_csv/tag"><i class="glyphicon glyphicon-download" aria-hidden="true"></i> Download CSV</a>
        </td>
      </tr>

      <tr>
        <th>Taggings</th>
        <td>
          <a class="btn btn-success btn-xs" href="/upload_csv/tagging"><i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/backup_csv/tagging"><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Backup CSV</a>
        </td>
        <td>
          <a class="btn btn-success btn-xs" href="/download_csv/tagging"><i class="glyphicon glyphicon-download" aria-hidden="true"></i> Download CSV</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
